Link {
  margin-right: 20px;
}
.header-background {
  background-color: #f05a66;
}
.nabigation {
  display: inline;
  margin-left: 650px;
}
.navlink {
  padding: 10px;
  text-decoration: none;
  color: white;
}
