
.header-background {
  background-color: #f05a66;
}




.skill{
  font-size: 25px;
  font-weight: 100;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #f05a66;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav a {
  float: left; 
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px;
}

.topnav a:hover {
  background-color:  #f83242;
  border-radius: 30px;
}

.topnav a.active {
  background-color: #f1f1f162;
  color: white;
}








