Link {
  margin-right: 30px;
}
.header-background {
  background-color: #f05a66;
}
.nabigation {
  display: inline;
  margin-left: 750px;
}
.navlink {
  padding: 20px;
  text-decoration: none;
  color: white;
}
